@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  background: #0b0b0f;
  color: white;
  font-family: "Inter", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
